name: Construir APK con Docker
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Descargar tu código
      - name: Checkout del código
        uses: actions/checkout@v3

      # 2. Construir usando el entorno preparado (Docker)
      # Esto descarga una "PC virtual" que ya tiene todo listo para Android
      - name: Buildozer Action
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master
          workdir: .

      # 3. Subir el APK resultante
      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: mi-agenda-apk
          path: bin/*.apk
